/* Globals */

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

html, body, main {
  height: 100%;
}


/* sandwich menu toggle */

.button {
  position: absolute;

  display: block;
  overflow: hidden;

  padding: .75em;

  border: none;
  box-shadow: 0 1px 4px #CDCDCD;
}

.button.back {
  top: 5px;
  right: 5px;

  color: #0D47A1;
  background: #fff;
}

.button.show {
  z-index: 22;
  top: 30px;
  left: 30px;

  color: #0879d3;
  background: #FFF;
}

.button.hide {
  top: 5px;
  right: 5px;

  color: #F44336;
  background: #FFF;
}


/* map navigation styles */

.map-nav {
  position: absolute;
  z-index: 2;

  overflow: auto;

  width: 450px;
  min-height: 100%;

  background: #FFF;
  box-shadow: 0 1px 4px #cdcdcd;
}


/* icon filters */

.map-filters {
  overflow: hidden;

  width: 100%;
  padding: 2em;
  padding-top: 3em;

  text-align: center;

  background: #F7F7F7;
  box-shadow: 0 1px 4px #cdcdcd;
}

.search {
  width: 100%;
  margin-bottom: 2em;
  padding: .75em .5em;

  border: 1px solid #ddd;
}

.filters-header {
  padding-bottom: 1em;

  text-align: left;

  color: #0879d3;
}

.filter {
  display: inline-block;
  float: left;
  overflow: hidden;

  width: 25%;
  padding: .25em;

  cursor: pointer;

  border: none;
  background: inherit;
}

.filter.active {
  outline: 1px solid #333;
  background: #fff;
}

.img-wrapper {
  width: 100%;
}

.filter img {
  width: 32px;
}

.filter input {
  display: none;
}


/* locations */

.map-locations {
  padding: 2em;
}

.map-locations header {
  padding-bottom: 1em;

  text-align: center;

  color: #0879d3;
}

.locations li {
  position: relative;

  padding: 1em;

  border-bottom: 1px solid #cdcdcd;
}

.locations .title {
  display: inline-block;

  margin-left: 24px;
}

.locations .hotel:before {
  position: absolute;
  top: 12px;
  left: 0;

  width: 24px;
  height: 24px;

  content: '';

  background-image: url('/dist/assets/icons/hotel-building.svg');
  background-size: 24px 24px;
}

.locations li {
  cursor: pointer;
}
.locations li:hover {
  background: #f7f7f7;
}

.locations li:before{
  position: absolute;
  top: 12px;
  left: 0;

  width: 24px;
  height: 24px;

  content: '';

  background-size: 24px 24px;
}

.locations .restaurant:before {
  background-image: url('/udacity-fsnd-neighborhood-map-project/dist/assets/icons/lunch.svg');
}

.locations .beach:before {
  background-image: url('/udacity-fsnd-neighborhood-map-project/dist/assets/icons/beach.svg');
}

.locations .museum:before {
  background-image: url('/udacity-fsnd-neighborhood-map-project/dist/assets/icons/museum.svg');
}

.locations .monument:before {
  background-image: url('/udacity-fsnd-neighborhood-map-project/dist/assets/icons/monument.svg');
}

.place {
  position: relative;

  overflow: hidden;

  padding: 0 1.5em;
}

.place-title {
  margin: 1em 0;

  color: #353d3f;
}

.place-picture {
  width: 100%;
  height: 250px;
}

.place-types, .place-coords {
  margin: .25em 0;
}

.place-types span:not(:last-of-type):after {
  content: ", ";
}

.place-address {
  margin: .25em 0;
}

.place-summary {
  margin: 1em 0;
}

.status {
  padding: 1.5em;

  text-align: center;
}


/* Map section */

.map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
}

#map {
  position: initial !important;
}

.map iframe {
  width: 100%;
  height: 100%;
}


/* media queries */

@media screen and (max-width: 460px) {
  .map-nav {
    width: 100%;
  }
  .map-filters {
    padding: 1.5em;
  }
}
